<template>
  <div class="auth-btn line" @click="getLineAuthLink">
    <img :src="LineIcon" alt="line-icon">
    <p class="flex-1 text-center <desktop:text-[16px]">使用 Line {{ type === 'signin' ? '登入' : '註冊' }}</p>
  </div>
</template>

<script setup>
import LineIcon from '@/assets/line-icon.png'
import { GetLineAuthLink } from '@/api/line'

defineProps({
  type: {
    type: String,
    validator (value) {
      return ['signin', 'signup'].includes(value)
    },
  },
  auth: {
    type: String,
    validator (value) {
      return ['line', 'fb'].includes(value)
    },
  },
})

const getLineAuthLink = async () => {
  const link = await GetLineAuthLink()
  window.location = link
}
</script>

<style scoped lang="postcss">
.line {
  @apply flex justify-between items-center rounded-[6px];
  @apply bg-[#06C755] text-white;
}
.auth-btn {
  @apply cursor-pointer;
}
</style>
