<template>
  <!-- <NThemeEditor> -->
  <n-config-provider :theme-overrides="ohbotTheme">
    <n-global-style />
    <n-loading-bar-provider>
      <n-notification-provider placement="top-right">
        <n-message-provider>
          <n-dialog-provider>
            <slot />
          </n-dialog-provider>
        </n-message-provider>
      </n-notification-provider>
    </n-loading-bar-provider>
  </n-config-provider>
  <!-- </NThemeEditor> -->
</template>

<script setup>
import ohbotTheme from '@/styles/naive-override/ohbot-theme.json'
// import { computed } from 'vue'
import {
  NConfigProvider,
  NGlobalStyle,
  NLoadingBarProvider,
  NMessageProvider,
  NDialogProvider,
  NNotificationProvider,
  // NThemeEditor,
  // useOsTheme,
  // darkTheme,
} from 'naive-ui/es'

// const osTheme = useOsTheme()
// const theme = computed(() => (osTheme.value === 'dark' ? darkTheme : null))
</script>

<style lang="postcss" scoped>

</style>
